{% extends 'base.html' %}
{% load static %}
{% block content %}


               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Dashboard</h2>
                           </div>
                        </div>
                     </div>
                     
                     <!-- graph -->
 
                     <!-- end graph -->
                     <div class="row column3">
                        <!-- testimonial -->
                       
                        <!-- end testimonial -->
                        <!-- progress bar -->
                       
                        <!-- end progress bar -->
                     </div>
                     <div class="row column4 graph">
                        <div class="col-md-6 margin_bottom_30">
                           <div class="dash_blog">
                              <div class="dash_blog_inner">
                                 <div class="dash_head">
                                    <h3><span><i class="fa fa-comments-o"></i>Donaciones</span></h3>
                                 </div>
                                 <div class="list_cont">
                                    <p>Listado</p>
                                 </div>
                                 <div class="msg_list_main">
                                    <ul class="msg_list">
                                       {% for c in Donacio %}
                                       <li>
                                          
                                          <span>
                                          <span class="name_user">{{ c.nombre }}</span>
                                          <br> 
                                          <span class="msg_user">{{ c.monto }}</span>
                                          <br> 
                                          <span class="msg_user">{{ c.categoria}}</span>
                                          <br> 
                                          <span class="msg_user">{{ c.ciudad }}</span>
                                          <br> 
                                          <span class="msg_user">{{ c.persona }}</span>
                                          <span class="msg_user">{{ c.correo }}</span>
                                          <br>
                                          <span class="msg_user">{{ c.updated }}</span>
                                          </span>
                                       </li>
                                       {% endfor %}
                                    </ul>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- footer -->
{% endblock %}
